<ion-view view-title="Account Summary (Split by Fund AUM)">
  <ion-content class="padding" data-tap-disabled="true">
    <div class="bar padding">
      <div class="col-md-8 col-lg-8">
        <div class="pull-left">
          <div class="ion-android-hand"> Touch the center to see {{fundtyp}}</div>
        </div>
      </div>
      <div class="pull-right">
        <div class="ion-android-hand">
          <spam ng-show="showbanner">Touch a Fund to see Transaction History
          </spam>
          <spam ng-hide="showbanner">Displaying Transaction for {{fundSelected}}
          </spam>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-2">
        <div class="box">
          <div id="pieChart"></div>
          <div id="pieChart2"></div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="box">
          <div id="chartdiv"></div>
          <div id="chartdiv2"> </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="col-xs">
      <div class="box pull-left"><i>Total Assets under management : $ {{totalAUM}}</i>
      </div>
    </div>
  </div>
</ion-view>
