<ion-view view-title="All Funds">
  <ion-content class="center" data-tap-disabled="true">
    <!--  <ion-scroll  zooming="true" direction="xy" style="height: 800px"> -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>


    <div id="main-wrap" class="row">
      <div id="canvas" class="col-md-8 col-lg-7 col-sm-3 col-xs-6">
        <div id="sidebar" class="box"></div>
      </div>
      <div id="content-wrap" class="col-md-4 col-sm-2 col-xs-6 col-lg-4">
        <div class="box">
          <h4>Fund Info</h4>
          <div id="fundDetails">
            <h5 class="icon-left ion-arrow-left-c">
              Click a Fund on Left
            </h5>
            <div id="fundProps" style="display: none;">
              <ul class='list'>
                <div id="fundName" class="item item-divider">{{fundName}}
                </div>
                <li class="item">Investment Approach : {{fundapproach}}
                </li>
                <li class="item">Inception Date : {{inceptionDate}}
                </li>
                <li class="item">Strategy AUM (US$ mil) : {{strategyAUM}}
                </li>
                <li class="item">MTD(net) : {{MTD}}
                </li>
                <li class="item">YTD(net) : {{YTD}}
                </li>
                <li class="item">Annualized Since Inception(net) : {{annualizedSinceInception}}
                </li>
                <li class="item">Status : {{status}}
                </li>
              </ul>
              <div class="">
                <button class="button button-positive icon-right ion-stats-bars" ng-click="openFndVizModal($event)">
                  Analyze {{fundapproach}} Approach</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="col-xs">
      <div class="box pull-right"><i>Showing funds in Investment Approach : {{fundapproach}}</i>
      </div>
    </div>
  </div>
</ion-view>
