<ion-view view-title="All Funds">
  <ion-content class="center">
    <div class="row responsive-sm padding-left"><u><h4>Fund Dependency</h4></u></div>
    <div class="row">
      <p id="categoryName"><i>Showing funds in category : All</i></p>
    </div>

    <div id="main-wrap" class="row responsive-sm">
      <div id="sidebar" class="col"></div>
      <div id="content-wrap" class="col col-60"><u><h4>Fund Info</h4></u>
        <div id="fundDetails">
          <div id="fundName">Click a Fund on Left</div>
          <ul>
            <div id="fundProps" style="display: none;">
              <li>
                <div id="fundApproach"></div>
              </li>
              <li>
                <div id="inceptionDate"></div>
              </li>
              <li>
                <div id="strategyAUM"></div>
              </li>
              <li>
                <div id="MTD"></div>
              </li>
              <li>
                <div id="YTD"></div>
              </li>
              <li>
                <div id="annualizedSinceInception"></div>
              </li>
              <li>
                <div id="status"></div>
              </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
